{% load static %}
{% include 'feedback_popup.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Dream Hub - Body-Shop (Denting & Painting) </title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="{% static 'assets/img/icon.png' %}" rel="icon">
<link href="{% static 'assets/img/icon.png' %}" rel="apple-touch-icon">
<!-- Fonts -->
<link href="{% static 'https://fonts.googleapis.com' %}" rel="preconnect">
<link href="{% static 'https://fonts.gstatic.com" rel="preconnect' %}" crossorigin>
<link href="{% static 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap' %}" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Main CSS File -->
<link href="{% static 'assets/css/main.css' %}" rel="stylesheet"> 
</head>
<body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        
        <a href="{% url 'index'%}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/carhub.png" alt=""> -->
        {% comment %} <img src="{% static 'assets/img/hero-carousel/logo-brotomotive.png' %}"/> {% endcomment %}
        <img src="{% static 'assets/img/hero-carousel/logo.png' %}"/>
        {% comment %} <h1 class="sitename">Dream Hub</h1> <span>.</span> {% endcomment %}
        </a>
        <nav id="navmenu" class="navmenu">
        <ul>
        <li><a href="{% url 'index'%}">Home</a></li>
        <li><a href="{% url 'about'%}">About us </a></li>
        <!-- <li><a href="services.html"> Our Services</a></li> -->
        <li class="dropdown"><a href="#service"class="active"><span>Our Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                <li><a href="{% url 'ceramic'%}">Ceramic & Graphane Coating</a></li>
                </li>
                <li><a href="{% url 'ppf'%}">Paint Potection Film</a></li>
                <li><a href="{% url 'denting'%}">Body Shop (danting painting)</a></li>
                <li><a href="{% url 'wrap'%}">Wrap Jobs</a></li>
                <li><a href="{% url 'detailing'%}">Detailing and interior cleaning</a></li>
                <li><a href="{% url 'insurance'%}">Insurance clames</a></li>
                <li><a href="{% url 'other'%}">Other services</a>
                </ul>
            </li>
            <li><a href="{% url 'contact'%}">Contact</a></li>
            <li><a href="{% url 'login'%}">Login</a></li>
            </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        
        </div>
        </header>
<main class="main">
    <div>
        <!-- Placeholder for content -->
        <div id="content-placeholder" class="content-placeholder" style="height: 100px;">
            <!-- Content goes here in the future -->
        </div>
    </div>
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-6">
        <div class="card-body">
            <h3 class="card-title"><b>Body-Shop (Denting & Painting)</b></h3>
            <p>
                We provide A-grade painting services across all types and categories of cars available in the market. It could be a panel of your new car, a complete outer body paint job for a decently aged vehicle, a custom colour paint job f your choice or maybe even a hardcore restoration of your old family’s car; we are here to help you out. Our experienced staff puts utmost attention in bringing out the best possible finish on your car’s paint. We diligently follow all required protocols and focus on delivering an exceptional experience that you probably might not have had at body-shop before. Our paint jobs come with a 2 year application warranty and if taken good care of, the paint can easily last you a decade.
                Choose from a range of Body, Wheel, Glasses, Plastic trim coatings and Paint protection films after the Paint job, here at Dream Hub. Full body paint jobs get discounts on detailing and paint protection services.
                Contact us by filling out the enquiry form and get your painted today.<br>
                <b>Note:</b>
                <li> Heavily rusted vehicles or vehicle which have been painted multiple times before will not be covered under warranty.</li>
                <li>We provide a 6 month warranty on Rusting, 1 year warranty on Blistering, Cracking, Peeling & Paint adhesion, and a 3 year warranty on Clear coat failure and/or Paint failure.</li>
                <li>Paint shrinkage is normal and acceptable on cars with heavy base work. However, cracking and peeling of paint in such cars is still covered under warranty.</li>
                <li>  Life of the paint is totally dependant on the usage and maintenance by the customer.
                </li>
            </p>
        </div>
        </div>
        <div class="col-md-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/rVChwao4zEI?si=CfrmoMPfUnDc0t8N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Haz9eyt-dCY?si=CIxCnztlQGc4rM3q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</main>
{% include "footer.html"%}
</body>

</html>
